body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F2F3F5;
    font-family: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    height: 100%;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registration-form {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100px;
}

button:hover {
    background-color: #449d48;
}


.topnav .logo {
    float: left;
    font-size: 24px; /* Adjusted font size for the logo */
    padding: 14px 16px; /* Adjusted padding for the logo */
    text-decoration: none;
    color: #f2f2f2;
    font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: #1877F2;
}

.topnav a {
    float: right;
    display: block;
    text-color: white;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: white; /* Background color on hover */
    color: black;
    text-decoration: none;/* Text color on hover */
}

.like {
    padding: 10px;
    background-color: #1877F2;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
}

.like:hover {
    background-color: blue;
}


.dislike {
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
}

.dislike:hover{
    background-color: darkred;
}

li {
    width: 500px; /* Set a fixed width for each list item */
    list-style-type: none; /* Remove default list item styling */
    margin-bottom: 10px; /* Add margin between list items */
}

.rounded-text {
    width: 400px; /* Take up the full width of the list item */
    background-color: white;
    padding: 10px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px 1px #D3D3D3;
    border-radius: 10px;
    box-sizing: border-box;
    display: block; /* Ensure the box takes full width within the list item */
    word-wrap: break-word; /* Break and wrap long words onto the next line */
    overflow: hidden; /* Hide any content that exceeds the box's boundaries */
}

.users {
    width: 150px; /* Take up the full width of the list item */
    background-color: white;
    padding: 10px;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px 1px #D3D3D3;
    border-radius: 10px;
    box-sizing: border-box;
    display: block; /* Ensure the box takes full width within the list item */
    word-wrap: break-word; /* Break and wrap long words onto the next line */
    overflow: hidden;
}

.username {
    font-size: 45px;
    color: #1877F2;
    font-weight: bold;
}

.home-username {
    color: #1877F2;
    font-weight: bold;
}

.post-link {
    text-decoration: none;
    color: inherit;
}

.post-link:hover {
    text-decoration: none;
    color: grey;
    background-color: #f0f0f0;
}

.post-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100px;
}

.post-button:hover {
    background-color: #449d48;
}

.large-input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 10px;

}


