<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Post</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<div sec:authorize="isAuthenticated()">
    Signed in as <span sec:authentication="name"></span>
</div>

<form th:action="@{'/posts/' + ${post.id}} + '/update'" th:object="${post}" method="post">
    <p>Content: <input type="text" th:field="*{content}" /></p>
    <p><input class="post-button" type="submit" value="Submit" />
</form>
</body>
</html>