<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" href="/main.css" />
</head>

<!--Navigation bar-->
<div class="topnav">
    <a class="logo" th:href="@{/posts}">Acebook</a>
    <a th:href="@{/logout}">Logout</a>
    <a th:href="@{/all-users}">All Users</a>
    <a th:href="@{/my_profile}">Profile</a>
</div>

<body>
<h2>Potential Friends or Enemies</h2>
<ul th:each="user: ${users}">
    <li>
        <span class="users" th:text="${user.username}"></span>

        <form th:action="@{/all-users}" th:object="${user}" method="post">
            <input type="hidden" name="id" th:value="${user.id}"/>
            <button id="addFriendButton" onclick="handleButtonClick()" type="submit">Add Friend</button>

            <script th:inline="javascript">
                /*<![CDATA[*/
                function handleButtonClick() {
                    var button = document.getElementById('addFriendButton');
                    button.innerHTML = /*[[${'Friend Already Added'}]]*/ 'Friend Already Added';
                    }
                /*]]>*/
            </script>
        </form>
    </li>
</ul>
</body>
</html>