<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Registration Form</h1>
<form th:action="@{/user}" method="post" th:object="${user}" class="registration-form">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" placeholder="Username" />
    <br/>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Password"/>
    <br/>
    <!-- Add more fields as needed -->
    <button type="submit">Register</button>
</form>
</body>
</html>