<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<div class="center-container">
    <div class="registration-form">
        <h1>Give Us Your Entire Life</h1>
        <form th:action="@{/users}" method="post" th:object="${user}">
            <label for="username"></label>
            <p><input class="register-input" type="text" id="username" th:field="*{username}" placeholder="Username" /></p>
            <label for="password"></label>
            <p><input class="register-input" type="password" id="password" th:field="*{password}" placeholder="Password"/>
            </p>
            <button type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>
